<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Get Back in Time</title>
<meta content="True" name="HandheldFriendly">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="width" name="MobileOptimized">
<meta content="width=device-width,initial-scale=1" name="viewport">
<link href="http://fonts.googleapis.com/css?family=Fira+Sans:400,700,400italic" rel='stylesheet' type='text/css'>
<style type="text/css">
 body {
  font-family: 'Fira Sans',Helvetica,Arial,sans-serif;
 }
 h1 {
  font-size: 4.5em;
 }
 h1, p, div, h2, h3, code, form {
  line-height: 2;
  margin: 0 auto;
  max-width: 560px;
  padding: 0;
  width: 96%;
 }
 img {
  max-width: 96%;
 }
 h2, h3 {
  margin-top: 1em;
  text-align: center;
 }
 p+p {
  text-indent: 2em;
 }
 code {
  background-color: #CCC;
  border-radius: 0.5em;
  display: block;
  overflow: auto;
  padding: 0 0.5em;
  white-space: pre;
 }
 #tok {
  display: none;
  margin: 2em auto;
 }
 #tok p+p, #add p+p {
  text-indent: 0;
 }
 #add {
  display: none;
 }
 #add .result {
  border-radius: 0.5em;
  padding: 0.5em;
  margin: 0.5em 0;
 }
 #add .error {
  border: 2px solid red;
  color: red;
 }
 #add .ok {
  border: 1px solid #090;
 }
 /* for config form */
 fieldset {
  border-radius: 0.25em;
  margin: 0.5em auto;
  max-width: 95%;
 }
 legend {
  font-weight: 700;
 }
 form p {
  margin: 0;
  font-size: 80%;
  font-style: italic;
  line-height: 1.2;
 }
 #configform label {
  display: block;
  float: left;
 }
 #configform label.long {
  width: 9em;
 }
 #configform label.short {
  width: 6em;
 }
 input {
 }
/* config form done */
</style>
</head>
<body>
<h1>Get Back in Time</h1>
{{{body}}}
</body>
</html>
